body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;   
}
h1 {
    color: #000000;
    text-shadow: 1px 2px 2px black, 0 0 25px blue,0 0 5px blue;
    text-align: center;
}
div.calcetas {
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 rgb(10, 65, 245), 0 6px 20px 0 rgba(0,0,0,0.19);
    float:left;
    width: 200px; 
}
div.calcetas img {
    width: 100%;
    height: auto;
}
div.pie {
    text-align: center;
    text-shadow: 2px 2px 5px rgb(27, 11, 168);
    padding: 10px;
}